.scenePlayer {
  display: grid;
  grid-template-areas:
    "stickHorizontal stickHorizontal stickHorizontal stickHorizontal stickHorizontal"
    "stickVertical . . rope ."
    "stickVertical . . head ."
    "stickVertical . leftArm body rightArm"
    "stickVertical . leftLeg body rightLeg";
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.stickVertical,
.stickHorizontal,
.rope,
.head,
.body,
.leftArm,
.rightArm,
.leftLeg,
.rightLeg {
  background-color: #000;
}